body{
    background-image: url('https://static.pexels.com/photos/414171/pexels-photo-414171.jpeg'); 
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position: center top;
    background-size:cover;
}
.center{
    text-align:center;   
}   