h1{
    font-family: sans-serif;
    color:cornflowerblue;
}
p{
    font-family:Lucida Sans;
    color:rgb(102, 99, 119);
}
h1{
    font-family:sans-serif;
    color:coral;
}
a{
    font-family: Geneva;
    color:black;
}